target/
classes/
.idea/
*.iml
*.class
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.settings/
.classpath
.project
data/
*.db
*.trace.db
*.mv.db
.env
.DS_Store
tomcat.*/
classpath.txt
