* text=auto eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
entrypoint.sh text eol=lf
*.java text eol=lf
*.jsp text eol=lf
*.jspf text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.css text eol=lf
*.js text eol=lf
*.properties text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
